*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    height: 450px;
    background-image: url("../img/jumbo.png");
    position: relative;
    background-position: center;
    background-size: cover;
}

.fl{
    float: left;
}

/* NAVBAR */
.navbar{
    width: 100%; 
    padding-top: 10px ;
}

.menu .fl{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
} 

.logo img{
    margin-left:  200px;
    margin-top: 5px;
}

.navbar ul {
    list-style: none;
    margin-left: 60px;
    margin-top: 5px;

}

.navbar ul li {
    display: inline-block;
    margin: 5px 10px;
    color: white;
}

.navbar ul li:hover {
    background: #104E8B;
    border-radius: 10px;
}

.navbar ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0 5px;
}


.white-button{
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
    padding: 10px;
    
}

.small{
    width: 70px;
    position: absolute;
    right: 70px;
}

.small a{
    text-decoration: none;
}
/* NAVBAR */

/* JUMBOTRON */
.jumbotron{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.download, .web{
    display: inline-block;
    margin: 20px 10px;
}

.black-button{
    background-color: rgb(37, 37, 37);
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

/* SECTION 1 */

.section:after {
    content:"";
    display: table;
    clear: both;
}

.section{
width: 100%;
   margin: 40px 20px;
}

.section-img{
    width: 70%;
    float: left;
}


h2:first-child{
    font-size: 50px;
    width: 30%;
    float: left;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 25px;
    }

p{
    font-size: 15px;
    line-height: 30px;
}
    
/* SECTION 2 */

